@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
We at OutingAdvisor thrives to provide you with a unique and memorable travel experience which is tailored and to your needs. <br /> 
    <br />
   Our intelligent AI system will select the nearest and best places for a quick getaway from the city life.
   We provide you information on hidden and exquisite locations, which will give a unique travel experience.
</p>
