@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Mr. Jojo Jose, <br />
    Flat #16, Building #10, <br />
    Arya Nagar Colony,<br />
    Mumbai Central,<br />    
    Mumbai - 400034<br />
    <abbr title="Phone">P:</abbr>
    9884008467
</address>

<address>
    <strong>Customer Care:</strong> <a href="mailto:jojojos@gmail.com">jojojos@gmail.com</a><br />
</address>
